html, body 
{
    background-color: #000 !important;
}

/* NAVBAR STYLING [dont change] */

.navbar-elements
{
    background: transparent;
}

.nav-link 
{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF !important;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
  
.nav-link:hover 
{
    opacity: 1;
}

.nav-link:before 
{
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #FFF;
}

.nav-link-ltr:before 
{
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover:before 
{
    width: 1em;
}

/* END OF NAVBAR STYLING */

.pfp
{
    width: 50vh;
    height: auto;
    border-radius: 25px;
    background-image: url("https://media.wired.com/photos/5fa5c014d683a4ea1e288713/master/w_2240,c_limit/Culture_trump_socialmedia_1229490572.jpg");
}

.v-center
{
  /*margin: 0;
  position: absolute;
  top: 17vh;
  transform: -50vh;*/
}

button
{
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    border-radius: 25px;
    border: none;
}

button:hover
{
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 400ms
}

#form
{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background: #5C5C5C;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

textarea
{
    width: 400px;
    height: 400px;
    background-color:#5C5C5C;
    border: none;
    color: white;
}

/* ================================== */

.u-expanded-width{
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.u-image{
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.u-image-1{
    height:607px;
    margin-top:0;
    margin-bottom:0;
}